html{
  scroll-behavior: smooth;
}
body{
  font-family: arial; sans-serif;
  background-color: #a5b0df;
}
ol{
  line-height:1.5em;
}
li{border-bottom: 1px solid white;
  padding-bottom:5px;
}
h1{
  font-family: georgia, serif;
  font-height: 2em;
  color: #455eed;
}
a{
  color: deeppink;
  text-decoration: none;
}
a:hover{
  color:#f00;
}
.wrapper{
  400px;
  margin: auto;
  color: #94407c;
}
img{
  max-width: 100%;
  display: block;
  align-content: center;
  padding: 10px;
}
h2{
  color: blue;
}
