html{
  scroll-behavior: smooth;
}
body{
  font-family:arial, sans-serif;
  color: lavender;
}
ol{
  line-height:1.5em;
}
li{border-bottom: 1px solid black;
  padding-bottom:5px;
}
h1{
  font-family:georgia, serif;
}
a{
  color: deeppink;
  text-decoration: none;
}
a:hover{
  color: blue;
}
.wrapper{
  width:700px;
  margin: auto;
  color: skyblue;

}
